/* <---------- COMMON STYLES ----------> */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  block-size: 34px;
  flex-shrink: 0;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

/* <---------- BODY STYLES ----------> */

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

/* <---------- MAIN STYLES ----------> */

.content {
  inline-size: 1140px;
  block-size: 534px;
  display: flex;
  gap: 30px;
  align-items: end;
}

/* <---------- VIDEO CONTAINER STYLES ----------> */

.result {
  block-size: 460px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 388px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

/* <---------- SEARCH FORM STYLES ----------> */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  inline-size: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  inline-size: 224px;
  padding-inline-start: 0;
  border-inline: none;
  border-block: 1px solid #fff;
  font-size: 18px;
  font-family: inherit;
  color: #fff;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  padding: 1px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #fff;
  inline-size: 100%;
  block-size: 100%;
  opacity: 0;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__submit-button {
  inline-size: 194px;
  align-self: end;
}

/* <---------- RIGHT SIDE STYLES ----------> */

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 93%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  block-size: 298px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 30px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__list-item {
  padding: 1px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

.content__video-card-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  white-space: normal;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  white-space: normal;
  line-height: 90%;
}

.content__video-card-thumbnail {
  min-inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 100%;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  inline-size: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
